* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "jakarta";
  src: url(C:\Users\leko\Desktop\FOOTER\fonts);
}

body {
  font-family: "jakarta", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ffffff;
}

footer {
  display: flex;
  width: 1440px;

  width: 100%;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.morent {
  text-align: left;
  max-width: 300px;
  flex-direction: column;
}
.morent p {
  color: #13131360;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 80px 60px 136px;
}

.list-container {
  display: flex;
  gap: 60px;

  align-items: flex-end;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

ul li a {
  text-decoration: none;
  color: #13131360;
}
.footer-border {
  width: 100%;
  border-top: 1px solid #13131360;
}

.bottom-footer {
  padding: 15px 35px;
}
.bottom-copyright {
  padding: 15px 35px;
  font-size: 16px;
}
.bottom-copyright a {
  margin-right: 60px;
  text-decoration: none;
}
